.container {
    margin: 30px auto;
}

.wrapper {
    width: 60vw;
    margin: 0 auto;
    border: 1px solid grey;
    padding: 30px 60px;
}

.title, .description, .submitBtn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.save-edit-btn {
    display: none;
}
