.container {
    margin: 30px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 50vw;
    margin: 0 auto;
    /* border: 1px solid grey; */
}

.input-container {
    background: linear-gradient(60deg, #7FF4F5, #7FB9F5);
    padding: 60px;
    border-radius: 3px;
}

.title, .description {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #484B4E;
    color: #484B4E;
    outline: none;
    font-size: 14px;
}

.submit-btn, .save-edit-btn {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #484B4E;
    background-color: transparent;
    text-transform: uppercase;
    color: #484B4E;
    font-size: 14px;
}


.save-edit-btn {
    margin-top: 10px;
    display: none;
}

.search-container, .list-container {
    margin: 10px auto;
}

.search {
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: none;
    width: 70%;
    display: inline;
}

.clear-btn {
    float: right;
    border: 1px solid #484B4E;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px  7px;
}

.item-wrapper {
    border: 1px solid #484B4E;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 10px;
}

.item-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 5px;
}

.item-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 5px;
    height: 14px;
    padding: 3px;
    overflow: hidden;
}

.edit-btn, .delete-btn {
    /* width: 100%; */
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #484B4E;
    background-color: transparent;
    text-transform: uppercase;
    color: #484B4E;
    font-size: 12px;
    margin-top: 10px;
}

.edit-btn {
    margin-right: 10px;
}